.Portfolio-Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

.heroSection-middle-Top-left-part {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

html {
  overflow-x: hidden;
}

input {
  outline: none;
}

.coding-animation{
  width: 30vw;
  height: 30rem;
}

.HeroSection {
  display: flex;
  width: 100vw;
  justify-content: space-evenly;
}

.heroSection-middle {
  height: fit-content;
}

.shopsy-template {
  width: 25vw;
  min-height: 40vh;
  object-fit: contain;
  border: 2px solid;
  border-radius: 1rem;
}

.dark-theme {
  border: none;
  cursor: pointer;
  background: none;
  user-select: none;
}

.dark-theme-icon {
  font-size: 2vw;
  color: #ffb400;
}

.heroSection-right {
  width: 15%;
  display: flex;
  margin-left: 14vw;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.heroSection-left {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.dark {
  background: radial-gradient(circle at 50% 50%, #808080 0%, #1F1F1F 100%);
  color: #fff;

  .heroSection-middle-Top-right-part {
    display: none;
  }

  .scroll-up {
    color: #fff;
  }

  .name-and-job {
    color: #fff;
  }

  .description-about-me {
    color: #fff;
  }

  .devp-name {
    color: #fff;
  }

  .occupation {
    color: #fff;
  }

  .desc-second-all-div-same-text {
    color: #fff;
  }

  .desc-second-all-div-same-text {
    color: #fff;
  }

  .extra-skills-text {
    color: #fff;
  }

  .skills-text {
    color: #fff;
  }

  .myService-description {
    color: #fff;
  }

  .clg-name {
    color: #fff;
  }

  .institution-hackerrank {
    color: #000;
  }

  .institution-codehelp {
    color: #000;
  }

  .hobbies-heading {
    color: #fff;
  }

  .contact-us-text {
    color: #fff;
  }

  .devp-desc {
    color: #000;
  }

  .name-of-devp {
    color: #000;
  }

  .social-text {
    color: #000;
  }

  .foot-section-lower-part {
    color: #000;
  }

  .scroll-up-icon {
    color: #000;
  }

  .scroll-down-icon {
    color: #000;
  }

  .EcoBazar-text {
    color: #fff;
  }

  .myService-heading {
    color: #ffb400;
  }

  .Gericht-text {
    color: #fff;
  }
}

.light {
  background: #fff;
  color: #000;
}

.image-of-devp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-photo {
  max-width: 35vw;
  height: 20vh;
  border: none;
  border-radius: 50%;
  background-size: contain;
}

.devp-name {
  color: var(--Black, #2b2b2b);
  font-size: 1.125vw;
  font-style: normal;
  font-weight: 500;
  line-height: 123.6%;
  text-transform: capitalize;
}

.occupation {
  color: var(--Paragraph-Font, #767676);
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-size: 0.9375vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  text-transform: capitalize;
}

.my-social-media-links {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.social-media-icons {
  font-size: 1vw;
}

.social-media-link {
  color: #000;
  background: #ffb400;
  border-radius: 50%;
  width: 2vw;
  height: 3.6vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desc-about-devp {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.desc-about-devp-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desc-all-div-same-text {
  color: var(--Black, #2b2b2b);
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-size: 0.9375vw;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 160% */
  text-transform: capitalize;
  background: var(--Yellow, #ffb400);
  width: min-content;
  padding: 0.5rem;
}

.desc-second-all-div-same-text {
  color: var(--Black, #2b2b2b);
  text-align: right;
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-size: 0.9375vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 160% */
  text-transform: capitalize;
}

.Languages {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
}

.skills-issue-div {
  width: 85%;
}

.lang {
  text-align: start;
}

.all-type-of-language-ik {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.English {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.english-language-percentage-ik {
  display: flex;
  width: 87%;
  justify-content: space-between;
}

.Hindi {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.Hindi-language-percentage-ik {
  display: flex;
  width: 87%;
  justify-content: space-between;
}

.english-percentage-ik-bar {
  width: 13.75rem;
  height: 0.25rem;
  flex-shrink: 0;
  background: #ffb400;
}

.Hindi-percentage-ik-bar {
  width: 13.75rem;
  height: 0.25rem;
  flex-shrink: 0;
  background: #ffb400;
}

.skills-text {
  color: var(--Black, #2b2b2b);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 123.6%;
  text-transform: capitalize;
}

.skills-issue {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.HTML {
  width: 100%;
}

.HTML-language-percentage-ik {
  display: flex;
  justify-content: space-between;
}

.CSS-language-percentage-ik {
  display: flex;
  justify-content: space-between;
}

.React-Js-language-percentage-ik {
  display: flex;
  justify-content: space-between;
}

.Tailwind-CSS-language-percentage-ik {
  display: flex;
  justify-content: space-between;
}

.Js-language-percentage-ik {
  display: flex;
  justify-content: space-between;
}

.HTML-percentage-ik-bar {
  width: 13.75rem;
  height: 0.25rem;
  flex-shrink: 0;
  background: #ffb400;
}

.CSS-percentage-ik-bar {
  width: 13.75rem;
  height: 0.25rem;
  flex-shrink: 0;
  background: #ffb400;
}

.Tailwind-CSS-percentage-ik-bar {
  width: 13.75rem;
  height: 0.25rem;
  flex-shrink: 0;
  background: #ffb400;
}

.React-Js-percentage-ik-bar {
  width: 13.75rem;
  height: 0.25rem;
  flex-shrink: 0;
  background: #ffb400;
}

.Js-percentage-ik-bar {
  width: 13.75rem;
  height: 0.25rem;
  flex-shrink: 0;
  background: #ffb400;
}

.extra-skills-text {
  color: var(--Black, #2b2b2b);
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 123.6%;
  text-transform: capitalize;
}

.first-skills-issue {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.second-skills-issue {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.third-skills-issue {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.Fourth-skills-issue {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.download-cv {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 13.75rem;
  height: 2.5rem;
  flex-shrink: 0;
  background: var(--Yellow, #ffb400);
  color: var(--Black, #2b2b2b);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  border: none;
}

.dwnld-icon {
  font-size: 1.1vw;
}

.name-and-job {
  width: 80%;
  color: var(--Black, #2b2b2b);
  font-size: 3vw;
  font-style: normal;
  font-weight: 1;
  line-height: 123.6%;
}

.FrontEndDev {
  color: var(--Yellow, #ffb400);
  font-size: 3vw;
  font-style: normal;
  font-weight: 1;
  line-height: 123.6%;
}

.description-about-me {
  color: var(--Paragraph-Font, #767676);
  font-kerning: none;
  font-feature-settings: "calt" off;
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  width: 70%;
  flex-shrink: 0;
}



.HireMe {
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.3125rem;
  background: var(--Yellow, #ffb400);
  color: var(--Black, #2b2b2b);
  text-align: center;
  font-size: 1vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
  cursor: pointer;
}

.heroSection-middle-Top {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.profilephotoForPortfolio {
  min-width: 100%;
  height: 70vh;
}

.circle1 {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  stroke-width: 2px;
  stroke: rgba(255, 180, 0, 0.8);
}

.heroSection-middle-Top {
  padding-left: 3rem;
}

.circle2 {
  padding-top: 2rem;
}

.circle3 {
  padding-top: 2rem;
}

.heroSection-middle-Bottom {
  margin: 0 auto;
}

.myService-heading {
  text-align: center;
  color: var(--Black, #2b2b2b);
  font-size: 2vw;
  font-style: normal;
  font-weight: 700;
  line-height: 123.6%;
  text-transform: capitalize;
}

.myService-description {
  text-align: center;
  flex-shrink: 0;
  color: var(--Paragraph-Font, #767676);
  font-size: 0.9375vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 160% */
  text-transform: capitalize;
  padding-left: 1.7rem;
}

.desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.desktop {
  display: flex;
  margin-top: 4rem;
  flex-direction: column;
}

.education-heading {
  text-align: center;
  font-size: 2vw;
  font-style: normal;
  font-weight: 700;
  line-height: 123.6%; /* 2.472rem */
  text-transform: capitalize;
}

.clg-name {
  color: var(--Black, #2b2b2b);
  font-size: 1.425vw;
  font-style: normal;
  font-weight: 500;
  line-height: 123.6%;
  text-transform: capitalize;
  text-align: center;
}

.details-abt-degree {
  color: var(--Paragraph-Font, #767676);
  font-kerning: none;
  font-size: 0.8775vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  text-transform: capitalize;
  text-align: center;
}

.Certificates {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 70%;
  margin-left: 5rem;
  margin-top: 5rem;
  height: 25vh;
  background-color: #ffb400;
  padding: 2rem;
  border-radius: 0.5rem;
}

.frontend-engineer {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.codehelp-fullStack-engineer {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

.codehelp-fullStack-engineer {
  font-size: 0.875vw;
  color: #fff;
}

.codehelp-fullStack-engineer:hover {
  color: #1f1f1f;
}

.frontend-engineer {
  font-size: 0.875vw;
  width: fit-content;
  color: #fff;
}

.frontend-engineer:hover {
  color: #1f1f1f;
}

.institution-hackerrank {
  font-weight: 700;
}

.institution-codehelp {
  font-weight: 700;
}

.hobbies-heading {
  font-size: 2vw;
  color: #1f1f1f;
}

.hobbies {
  padding-top: 10rem;
}

.all-hobbies-list {
  display: flex;
  justify-content: space-between;
}

.hobbies-icon {
  font-size: 1.3vw;
}

.hobbies-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption-text {
  color: #fff;
}

.projects-heading {
  font-size: 2.2vw;
  padding-top: 4rem;
  text-align: center;
}

.ecobazar-template {
  width: 25vw;
  min-height: 40vh;
  object-fit: contain;
  border: 2px solid;
  border-radius: 1rem;
}

.EcoBazar-project {
  display: flex;
  justify-content: space-between;
  gap: 1.3rem;
}

.EcoBazar-text {
  color: var(--Black, #2b2b2b);
  font-size: 1.325vw;
  font-style: normal;
  font-weight: 500;
  margin-left: 1rem;
  margin-top: 1rem;
  line-height: 123.6%; /* 1.3905rem */
  text-transform: capitalize;
}

.Ecobazar-desc {
  max-width: 70%;
  text-align: start;
  margin-left: 1rem;
  font-size: 0.9vw;
  line-height: 150%;
}
.ecobazar-project-about-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.links-and-github {
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
  width: 5%;
}

.links-also-github {
  color: #2b2b2b;
  font-size: 1.2vw;
}

.links-also-github:hover {
  color: crimson;
}

.project-section {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.contactUs {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: flex-start;
}

.leave-info-text {
  font-size: 1.5vw;
}

.leave-info {
  display: flex;
  flex-direction: column;
  gap: 0.95rem;
}

.contact-us-text {
  color: var(--Paragraph-Font, #767676);
  font-size: 1.125vw;
  font-style: normal;
  font-weight: 500;
  line-height: 123.6%; /* 1.3905rem */
  text-transform: capitalize;
}

.contact-us-label {
  display: flex;
  flex-direction: column;
}

.input-field-contact-us {
  padding: 1rem;
  background: var(--Background, #f0f0f6);
  border-radius: 0.3rem;
  font-size: 0.8vw;
  color: #767676;
  border: none;
}

textarea {
  padding: 1rem;
  font-size: 0.8vw;
  resize: none;
  border-radius: 0.55rem;
}

.send-message {
  width: 9.9375rem;
  height: 2.1875rem;
  flex-shrink: 0;
  background: #ffb400;
  border: none;
  font-weight: 600;
  letter-spacing: 0.045rem;
  cursor: pointer;
}

.message {
  outline: none;
  font-size: 1.1vw;
}

.contact-information-text {
  font-size: 1.5vw;
}

.contact-information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  align-items: center;
}

.country-location {
  display: flex;
  gap: 0.7rem;
}

.location-icon {
  background-color: #ffb400;
  padding: 1rem;
  border-radius: 100%;
}

.mail-icon {
  background-color: #ffb400;
  padding: 1rem;
  border-radius: 100%;
}

.city-location {
  display: flex;
  gap: 0.7rem;
  text-align: start;
}

.sreet-location {
  display: flex;
  gap: 0.7rem;
  text-align: start;
}

.email-div {
  display: flex;
  gap: 0.7rem;
  text-align: start;
}

.mail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cap-icon {
  font-size: 4vw;
}

.heading-cap-icon{
  display: flex;
}

.foot-section {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  min-height: 15vh;
  background: linear-gradient(202deg, #FFEB3B 0%, #FFC107 100%);
}

.copyright {
  display: flex;
  align-items: center;
  font-size: 1.3vw;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.social-media-link-footer {
  background-color: #f0f0f600;
  color: #1f1f1f;
}

.my-social-media-foot-links {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.foot-section-upper-part-rightmost {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.devp-desc {
  width: 40%;
}

.foot-section-upper-part {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.foot-section-upper-part-rightmost {
  display: flex;
}

.social-media-icons:hover {
  transition-duration: 0.5s;
  color: crimson;
}

.in-between-line {
  width: 90vw;
  display: flex;
  justify-content: center;
  height: 0.089vh;
  background: #1f1f1f;
}

.foot-section-lower-part {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.navigation-hover-text {
  font-size: 0.55vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 4.0625rem;
  height: 2.0625rem;
  flex-shrink: 0;
  text-align: start;
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-left: -5rem;
}

.dark-theme {
  margin-left: -5rem;
}

.navbars-icon {
  padding: 1rem;
  font-size: 1.2vw;
  border-radius: 100%;
  cursor: pointer;
  background-color: #ffb400;
  flex-shrink: 0;
}

.navbar-projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: #1f1f1f;
}

.comment-hover-text {
  visibility: hidden; /* Initially hide the SVG with the comment-hover-text class */
}

.navbar-projects-section:hover .comment-hover-text {
  visibility: visible; /* Display the SVG with the comment-hover-text class when hovering over the icon */
  transition-duration: 1s;
}

.scroll-btn {
  border: none;
  background: none;
  position: fixed;
  bottom: 0;
  right: 0;
  animation: bounce 2s infinite;
  cursor: pointer;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
    transform: scale(1);
  }
  40% {
    transform: translateY(-10px);
    transform: scale(0.8);
  }
  60% {
    transform: translateY(-10px);
    transform: scale(1);
  }
}

.scroll-up-icon {
  font-size: 1.2vw;
  padding: 1rem;
  color: #2b2b2b;
  background-color: #ffcd03ab;
  border-radius: 100%;
}

.project-section {
  opacity: 0;
  transform: translateX(-250px); /* Start the projects off the screen */
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition-delay: 0.2s; /* Add a delay of 0.2 seconds */
}

.project-section.show-project {
  opacity: 1;
  transform: translateX(0); /* Move the projects into view */
  transition-delay: 1s; /* Apply the same delay when showing */
}

.Gericht-project {
  display: flex;
  line-height: 150%;
  justify-content: space-between;
  max-width: 100%;
}

.coder-animation{
  width: 250px;
  height: 250px;
}

.Gericht-text {
  color: var(--Black, #2b2b2b);
  font-size: 1.325vw;
  font-style: normal;
  font-weight: 500;
  margin-left: 1rem;
  margin-top: 1rem;
  line-height: 123.6%;
  text-transform: capitalize;
}

.Gericht-desc {
  font-size: 0.9vw;
  max-width: 95%;
  text-align: start;
  margin-left: 1rem;
}

.Gericht-project-about-section {
  width: 100%;
}

.project-section {
  opacity: 0;
  transform: translateX(-250px); /* Start the projects off the screen */
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition-delay: 0.2s; /* Add a delay of 0.2 seconds */
}

.project-section.show-project {
  opacity: 1;
  transform: translateX(0); /* Move the projects into view */
  transition-delay: 1s; /* Apply the same delay when showing */
}

.Gericht-project {
  opacity: 0;
  transform: translateX(650px); /* Start the projects off the screen */
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition-delay: 0.2s; /* Add a delay of 0.2 seconds */
}

.Gericht-project.show-project {
  opacity: 1;
  transform: translateX(0); 
  transition-delay: 1s;
}

.Education {
  display: flex;
  flex-direction: column;
}

.for-mobile-hero-section {
  display: flex;
}

.heading-cap-icon{
  margin: 0 auto;
}

@media (min-width: 1024px) and (max-width: 1440px) {
  .social-media-link {
    width: 2.5vw;
  }

  .devp-name{
    font-size: 2vw;
  }

  .occupation{
    font-size: 1.5vw;
  }

  .Languages{
    margin-left: 2rem;
  }
  
  .skill-issue-div{
    margin-left: 2.5rem;
  }

  .download-cv{
    margin-left: 2.5rem;
  }

  .english-language-percentage-ik{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .Hindi-language-percentage-ik{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .for-mobile-hero-section {
    display: flex;
    flex-direction: row;
  }

  .desc-second-all-div-same-text {
    font-size: 1.2vw;
  }

  .desc-all-div-same-text {
    font-size: 1.2vw;
  }

  .lang {
    font-size: 1.5vw;
  }

  .dwnld-icon {
    font-size: 1.5vw;
  }

  .dwnld-icon {
    font-size: 1.5vw;
  }

  .description-about-me {
    font-size: 1.5vw;
  }

  .HireMe {
    font-size: 1.4vw;
  }

  .arrow-right {
    font-size: 1.4vw;
  }

  .dark-theme-icon {
    font-size: 2.7vw;
  }

  .navbars-icon {
    font-size: 2vw;
  }

  .comment-hover-text {
    width: min-content;
  }

  .navigation-hover-text {
    font-size: 1.1vw;
  }

  .myService-description {
    font-size: 1.5vw;
    text-align: start;
    margin-left: 1.1rem;
  }

  .education-heading {
    font-size: 2vw;
  }

  .clg-name {
    font-size: 1.8vw;
  }

  .Education {
    margin-left: 5rem;
  }

  .details-abt-degree {
    font-size: 1.4vw;
  }

  .frontend-engineer {
    font-size: 1.4vw;
  }

  .codehelp-fullStack-engineer {
    font-size: 1.4vw;
    width: fit-content;
  }

  .hobbies{
    margin-left: 6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .projects-heading{
    margin-left: 5rem;
  }

  .hobbies-heading {
    font-size: 3vw;
    text-align: center;
  }

  .hobbies-icon {
    font-size: 2.2vw;
  }

  .all-hobbies-list {
    gap: 4rem;
  }

  .projects-heading {
    font-size: 4vw;
  }

  .ecobazar-template {
    width: 35vw;
    min-height: 40vh;
  }

  .EcoBazar-text {
    font-size: 2vw;
  }

  .Ecobazar-desc {
    font-size: 1.1vw;
  }

  .Gericht-desc {
    font-size: 1.2vw;
  }

  .links-also-github {
    font-size: 1.6vw;
  }

  .links-and-github {
    gap: 1rem;
  }

  .foot-section-upper-part {
    padding-left: 3rem;
  }

  .social-media-icons {
    font-size: 1.2vw;
  }

  .Ecobazar-desc {
    font-size: 1.3vw;
  }

  .EcoBazar-text {
    font-size: 2vw;
  }

  .Gericht-text {
    font-size: 2vw;
  }

  .Gericht-desc {
    font-size: 1.3vw;
  }

  .shopsy-template {
    width: 25vw;
    min-height: 40vh;
    object-fit: contain;
    border: 2px solid;
    border-radius: 1rem;
  }

  .input-field-contact-us {
    font-size: 1.3vw;
  }

  .message {
    font-size: 1.1vw;
    outline: none;
  }

  .contactUs{
    display: flex;
    flex-wrap: wrap;
    gap: 10rem;
    justify-content: flex-start;
  }

  .leave-info-text{
    font-size: 4vw;
  }

  .contact-us-text{
    text-align: start;
  }

  .contact-us-text{
    text-align: start;
  }

  .contact-us-text{
    text-align: start;
  }

  .contact-information{
    margin: 0 auto;
    padding-bottom: 10rem;
  }

  .Languages {
    padding-left: 0rem;
  }

  .heading-cap-icon{
    margin: 0 auto;
  }
}

@media (max-width: 1023px) {
  .for-mobile-hero-section {
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .name-and-job {
    font-size: 4vw;
  }

  .FrontEndDev {
    font-size: 5vw;
  }

  .description-about-me {
    font-size: 3vw;
  }

  .HireMe {
    font-size: 3.3vw;
  }

  .heroSection-middle-Top-right-part svg {
    display: none;
  }

  .myService-heading {
    font-size: 5vw;
  }

  .myService-description {
    font-size: 3vw;
    text-align: start;
    margin-left: 1rem;
  }

  .dark-theme-icon {
    font-size: 7vw;
  }

  .navbars-icon {
    font-size: 5vw;
  }

  .navigation-hover-text {
    font-size: 2.5vw;
  }

  .heroSection-middle-Bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .desktop {
    margin-left: 2rem;
  }

  .heroSection-left {
    margin: 0 auto;
  }
}
